lec_3/staticlib/temp/*
*.o
*.out
*.s
*.i
*.save
*.zip
lec_2/dynamicexec
lec_3/dynamiclib/driver/myexe
lec_3/linking/link/myexe
lec_3/staticlib/driver/myexe
lec_4/myexe
lec_4/lect4.notes
lec_4/ex5_makefile_macro/progy
lec_4/ex4_multiple_makefiles_bak/myexe
lec_4/ex4_multiple_makefiles/progy
lec_4/ex3_phony_targets/progy
lec_4/ex2_multi_target_make/prog
lec_2/staticexec
lec_4/ex4_multiple_makefiles/src/prog.c.save
lec_3/dynamiclib/libmymath.sh
lec_3/dynamiclib/libarifmath.so
lec_4/ex2_multi_file_project_make/prog
lec_4/ex4_multiple_makefiles_bak/makefile
lec_4/ex4_multiple_makefiles_bak/myadd.c
lec_4/ex4_multiple_makefiles_bak/mydiv.c
lec_4/ex4_multiple_makefiles_bak/mymath.h
lec_4/ex4_multiple_makefiles_bak/mymul.c
lec_4/ex4_multiple_makefiles_bak/mysub.c
lec_4/ex4_multiple_makefiles_bak/prog1.c
lec_4/ex4_multiple_makefiles_bak/04/ex1/hello.c
lec_4/ex4_multiple_makefiles_bak/04/ex1/makefile
lec_4/ex4_multiple_makefiles_bak/04/ex2/makefile
lec_4/ex4_multiple_makefiles_bak/04/ex2/myadd.c
lec_4/ex4_multiple_makefiles_bak/04/ex2/mydiv.c
lec_4/ex4_multiple_makefiles_bak/04/ex2/mymath.h
lec_4/ex4_multiple_makefiles_bak/04/ex2/mymul.c
lec_4/ex4_multiple_makefiles_bak/04/ex2/mysub.c
lec_4/ex4_multiple_makefiles_bak/04/ex2/prog1.c
lec_4/ex4_multiple_makefiles_bak/04/ex3/makefile
lec_4/ex4_multiple_makefiles_bak/04/ex3/myadd.c
lec_4/ex4_multiple_makefiles_bak/04/ex3/mydiv.c
lec_4/ex4_multiple_makefiles_bak/04/ex3/mymath.h
lec_4/ex4_multiple_makefiles_bak/04/ex3/mymul.c
lec_4/ex4_multiple_makefiles_bak/04/ex3/mysub.c
lec_4/ex4_multiple_makefiles_bak/04/ex3/prog1.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/makefile
lec_4/ex4_multiple_makefiles_bak/04/ex5/myadd.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/mydiv.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/mymath.h
lec_4/ex4_multiple_makefiles_bak/04/ex5/mymul.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/mysub.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/prog1.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/d1/makefile
lec_4/ex4_multiple_makefiles_bak/04/ex5/d1/mymod.c
lec_4/ex4_multiple_makefiles_bak/04/ex5/d1/mymod.h
lec_4/ex4_multiple_makefiles_bak/04/temp/compute.c
lec_4/ex4_multiple_makefiles_bak/04/temp/compute.h
lec_4/ex4_multiple_makefiles_bak/04/temp/input.c
lec_4/ex4_multiple_makefiles_bak/04/temp/input.h
lec_4/ex4_multiple_makefiles_bak/04/temp/main.c
lec_4/ex4_multiple_makefiles_bak/04/temp/main.h
lec_4/ex4_multiple_makefiles_bak/04/temp/makefile
lec_4/ex4_multiple_makefiles_bak/d1/makefile
lec_4/ex4_multiple_makefiles_bak/d1/mymod.c
lec_4/ex4_multiple_makefiles_bak/d1/mymod.h
lec_4/_
lec_5/ex_cmake/build/*
lec_3/dynamiclib/driver/lecture_notes_new.txt
.vscode/settings.json
lec_3/linking/link/lecture_3.txt
lec_3/staticlib/driver/mynotes.txt
lec_3/staticlib/driver/notes.txt
lec_3/staticlib/driver/notes2.txt
session_6/.swp
